
<!-- Navbar Logo/Brand -->
<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light" >
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'blog-home' %}">jaagir</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <!-- Navbar Items  -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'blog-home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About Us</a>
        </li>
      </ul>

      <!-- For Authentication  -->
      <ul class="navbar-nav me-2 ">
        {% if user.is_authenticated %}

        <li class="nav-item">
          <a class="nav-link" href="{% url 'post-create' %}" tabindex="-1" >Create Post</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'profile' %}" tabindex="-1" >Profile</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout'%}" tabindex="-1" >Logout</a>
        </li>
        {% endif %}
      </ul>


    </div>
  </div>
</nav>
